.animated-button {
  padding: 15px 35px;
  margin: 30px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #043AED;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.animated-button:hover {background-color: #3e0e91}

.animated-button:active {
  background-color: #3e0e91;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#login-div {
    margin-top: 20px;
}

.disable-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.top-bar {
    margin: 20px 35px 0 0;
}

.form-feedback {
  display: none;
  margin-top: 5px;
  font-size: 0.8rem;
  color: red;
  text-indent: 1rem;
}

#all-clicks {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  cursor: default;
}

#all-clicks:focus {
  outline: none;
  cursor: default;
}
